<section role="region" aria-labelledby="inputs" class="page__section">
  <header role="banner" class="section__header">
    <div class="header__container">
      <h4 class="header__title--section" id="inputs">inputs</h4>
    </div>
  </header>

  <div class="section__body">
    <input type="text" name="text" placeholder="this is placeholder text" class="input--text">
  </div>

  <div class="section__body float--left margin-right--alpha">
    <ul>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Radio Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Radio Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Radio Input
        </label>
      </li>
    </ul>
   </div>

   <div class="section__body float--left">
    <ul>
      <li>
        <label class="label">
          <input type="checkbox" name="name" />
          Checkbox Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="checkbox" name="name" />
          Checkbox Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="checkbox" name="name" />
          Checkbox Input
        </label>
      </li>
    </ul>
   </div>

   <br class="clear">

</section>