<section role="region" aria-labelledby="inputs" class="page__section">
  <header role="banner" class="section__header">
    <div class="header__container">
      <h4 class="header__title--section" id="text-components">text components</h4>
    </div>
  </header>

  <div class="section__body">

    <div class="page__row margin-bottom--bravo">
      <div class="page__col-3">
        <ol class="text__list text__list--ol">
          <li>Ordered list item</li>
          <li>Second item</li>
          <li>Item number three</li>
          <li>This is number four</li>
        </ol>
      </div>

      <div class="page__col-3">
        <ul class="text__list text__list--ul">
          <li>Ordered list item</li>
          <li>Second item</li>
          <li>Item number three</li>
          <li>This is number four</li>
        </ul>
      </div>

      <div class="page__col-3">
        <figure>
        <div class="image__wrapper image__wrapper--small">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
        </div>
        <figcaption class="text__caption">This is a caption</figcaption>
        </figure>
      </div>
    </div>

    <div class="page__row margin-bottom--bravo">
      <div class="page__col-6">
        <p>This is a paragraph of text so that it is possible to see how a block of text might look with various text elements such as a <a href="#">link to another site</a>.
      <blockquote class="text__blockquote">Additionally, there might be a blockquote included in the text and this is what it might look like.</blockquote></p>
      </div>
    </div>

  </div>

</section>