<header role="banner" class="topbar">
  <nav role="navigation" class="topbar__naviation">
    <ul>
      <li><%= link_to 'Link Name', '#', class: 'topbar__navigation__link' %></li>
      <li><%= link_to 'Link Name', '#', class: 'topbar__navigation__link' %></li>
      <li><%= link_to 'Link Name', '#', class: 'topbar__navigation__link' %></li>
      <li><%= link_to 'Link Name', '#', class: 'topbar__navigation__link' %></li>
    </ul>
  </nav>
</header>