// Cart Module
// ========================================


.checkout {
  width: 1020px;
  margin: 0 auto;
}

.checkout__steps {
  text-align: center;
}

.basket__table {
  width: 100%;
  text-align: left;
}

.basket__table--col-1 {
  width: 65px;
}

.basket__table--col-3,
.basket__table--col-4,
.basket__table--col-5 {
  width: 110px;
}



