// Page Navigation Modules
// ========================================


.nav__logo {
  height: 40px;
}

.nav__list--right {
  text-align: right;
}

.nav__list--item {
  display: inline;
  margin: 0 $spacer-echo;
}

.nav__top {
  margin-top: $spacer-echo;
  
  a {
    font-size: 18px;
    text-transform: uppercase;
  }
}


